################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Season-Discounts/.vscode
/Season-Discounts/src/assets/Listing/Pallete.ods
/.vs/Season-Discounts/v17
/.vs/Season-Discounts/FileContentIndex
